{% filter remove_whitespace %}
{# Automatically removes unnecessary whitespace #}
<div class="ban">
	{% if ban.expires and time() >= ban.expires %}
		<h2>{% trans("You were banned! ;_;") %}</h2>
	{% else %}
		<h2>{% trans("You are banned! ;_;") %}</h2>
	{% endif %}
	<p>
		{% if ban.expires and time() >= ban.expires %}
			{% trans("You were banned from") %}
		{% else %}
			{% trans("You have been banned from") %}
		{% endif %}
			{% if ban.board %}
				 <strong>{{ config.board_abbreviation|sprintf(ban.board) }}</strong>
			{% else %}
				 {% trans("all boards") %}
			{% endif %}
			{% if ban.reason %}
				 {% trans("for the following reason:") %}
			{% else %}
				 {% trans("for an unspecified reason.") %}
			{% endif %}
	</p>
	{% if ban.reason %}
		<p class="reason">
			{{ ban.reason }}
		</p>
	{% endif %}
	<p>
		{% trans("Your ban was filed on") %} 
			<strong>{{ ban.created|date(config.ban_date) }}</strong> 
			{% if config.show_modname %}
				{% if ban.username %}
					{% trans("by") %} <strong> {{ ban.username }} </strong>
				{% else %}
					{% trans("by") %} <em> 'system' </em>
				{% endif %}
			{% endif %}
			{% trans("and") %} <span id="expires">	
		{% if ban.expires and time() >= ban.expires %}
			{% trans %} has since expired. Refresh the page to continue.{%  endtrans %}
		{% elseif ban.expires %}
			{% trans("expires") %} <span id="countdown" data-left="{{ ban.expires - time() }}">{{ ban.expires|until }}</span> {% trans("from now, which is on") %} 
			<strong>
				{{ ban.expires|date(config.ban_date) }}
			</strong>
		{% else %}
			<em>{% trans("will not expire") %}</em>.
		{% endif %}
		</span>
	</p>
	<p>{% trans("Your IP address is") %} <strong>{{ ban.ip }}</strong>.</p>

	{% if config.ban_page_extra %}
		<p>{{ config.ban_page_extra }}</p>
	{% endif %}
	
	{% if post and config.ban_show_post %}
		<hr>
		<p>{% trans("You were banned for the following post on") %} {{ board.url }}:</p>
		{{ post }}
		<br>
	{% endif %}
	
	{% if not tor and config.ban_appeals and (not ban.expires or ban.expires - ban.created > config.ban_appeals_min_length )%}
		<hr>
		{% if pending_appeal %}
			<p>
				{% trans("You submitted an appeal for this ban on") %} 
				<strong>{{ pending_appeal|date(config.ban_date) }}</strong>. {% trans("It is still pending") %}.
			</p>
		{% elseif denied_appeals|length >= config.ban_appeals_max %}
			{% if denied_appeals|length == 1 %}
				<p>
					{% trans("You appealed this ban on") %} 
					<strong>{{ denied_appeals[0]|date(config.ban_date) }}</strong> 
					{% trans("and it was denied. You may not appeal this ban again.") %}
				</p>
			{% else %}
				<p>{% trans("You have submitted the maximum number of ban appeals allowed. You may not appeal this ban again.") %}</p>
			{% endif %}
		{% else %}
			{% if denied_appeals|length %}
				{% if denied_appeals|length == 1 %}
					<p>
						{% trans("You appealed this ban on") %} 
						<strong>{{ denied_appeals[0]|date(config.ban_date) }}</strong> 
						{% trans("and it was denied.") %}
					</p>
					<p>{% trans("You may appeal this ban again. Please enter your reasoning below.") %}</p>
				{% else %}
					<p>
						{% trans("You last appealed this ban on") %} 
						<strong>{{ denied_appeals[denied_appeals|length - 1]|date(config.ban_date) }}</strong> 
						{% trans("and it was denied.") %}
					</p>
					<p>{% trans("You may appeal this ban again. Please enter your reasoning below.") %}</p>
				{% endif %}
			{% else %}
				<p>{% trans("You may appeal this ban. Please enter your reasoning below.") %}</p>
			{% endif %}
			<form class="ban-appeal" action="" method="post">
				<input type="hidden" name="ban_id" value="{{ ban.id }}">
				<textarea name="appeal" rows="4" cols="40"></textarea>
				<input type="submit" value="Submit">
			</form>
		{% endif %}
	{% endif %}
</div>

{% set ext_scripts = [
	"js/mod/banned.js"
] %}
{% include "ext_scripts.html" %}

{% endfilter %}

