{% set captcha_src %}src="{{ config.captcha.provider_get }}?board={{ board.uri }}{% if id %}&amp;thread={{ id }}{% endif %}"{% endset %}
{% set captcha_iframe %}width="{{ config.captcha.width }}px" height="{{ config.captcha.height }}px" frameborder="0" hspace="0" vspace="0" marginheight="2px" marginwidth="0" scrolling="no" seamless{% endset %}

<input class="captcha_text" type="text" name="captcha_text" size="25" maxlength="6" autocomplete="off" style="width:{{ config.captcha.width}}px; box-sizing: border-box;" />
<div id="captcha" data-timeout="{{ config.captcha.expires_in }}">
<noscript>
	<iframe {{ captcha_src }} {{ captcha_iframe }}></iframe>
</noscript>
<script type="text/javascript">
	document.write('<iframe {% if not captcha_onstart %}data-{% endif %}{{ captcha_src }} {{ captcha_iframe }} onload="Vi.captcha.load(this)"></iframe>');
</script>
</div>
