<div id="post-form-outer">
<input id="show-post-form" type="checkbox"{% if id %} checked="checked"{% endif %}>
<label for="show-post-form" class='show-post-form link-label hide-thread-link'>[{% if id %}{{ config.button_reply|trans }}{% else %}{{ config.button_newtopic|trans }}{% endif %}]</label>
<label for="show-post-form" class='hide-post-form link-label hide-thread-link'>[{% trans('Hide form') %}]</label>
<div></div>
<div id="post-form-inner">
	<form name="post" onsubmit="return dopost(this);" enctype="multipart/form-data" action="{{ config.post_url }}" method="post">
		{% if id %}<input type="hidden" name="thread" value="{{ id }}">{% endif %}
		<input type="text" name="board" value="{{ board.uri }}">
		<textarea name="message"></textarea>
		{% if current_page %}
			<input type="hidden" name="page" value="{{ current_page }}">
		{% endif %}
		{% if mod %}<input type="hidden" name="mod" value="1">{% endif %}
		<table class="post-table"><tbody>
			{% if not config.field_disable_name or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri)) %}<tr>
				<th>{% trans("Name") %}</th>
				<td>
					<input type="text" name="name" size="25" maxlength="35" autocomplete="off">
				</td>
			</tr>{% endif %}
			{% if not config.field_disable_email or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri)) %}<tr>
				<th>{% trans("Email") %}</th>
				<td>
					{% if config.field_email_selectbox and not (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri)) %}
					<select name="email" id="email_selectbox" autocomplete="off">
						<option value=""></option>
						<option value="sage">sage</option>
						{% if not config.always_noko %}<option value="noko">noko</option>{% endif %}
					</select>
					{% else %}
					<input type="text" name="email" size="25" maxlength="40" autocomplete="off">
					{% endif %}
					{% if not (not (config.field_disable_subject or (id and config.field_disable_reply_subject)) or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri))) %}
					<input accesskey="s" style="margin-left:2px;" type="submit" name="post" value="{% if id %}{{ config.button_reply }}{% else %}{{ config.button_newtopic }}{% endif %}" />
					{% endif %}
				</td>
			</tr>{% endif %}
			{% if not (config.field_disable_subject or (id and config.field_disable_reply_subject)) or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri)) %}<tr>
				<th>
					{%- trans("Subject") %}{% if config.force_subject_op and not id %} <span class="required-star">*</span>{% endif -%}
				</th>
				<td>
					<input style="float:left;" type="text" name="subject" size="25" maxlength="100" autocomplete="off">
					<input accesskey="s" style="margin-left:2px;" type="submit" name="post" value="{% if id %}{{ config.button_reply }}{% else %}{{ config.button_newtopic }}{% endif %}" />
				</td>
			</tr>
			{% endif %}
			<tr>
				<th>{% trans("Comment") %} <span class="required-star">*</span></th>
				<td>
					<textarea name="body" id="body" rows="5" cols="35"></textarea>
					{% if not (not (config.field_disable_subject or (id and config.field_disable_reply_subject)) or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri))) %}
					{% if not (not config.field_disable_email or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri))) %}
					<input accesskey="s" style="margin-left:2px;" type="submit" name="post" value="{% if id %}{{ config.button_reply }}{% else %}{{ config.button_newtopic }}{% endif %}" />{% if config.spoiler_images %} <input id="spoiler" name="spoiler" type="checkbox"> <label for="spoiler">{% trans("Spoiler Images") %}</label>{% endif %} <input id="no-bump" name="no-bump" type="checkbox"> {% trans("Do not bump") %}
					{% endif %}
					{% endif %}
				</td>
			</tr>
			{% if config.recaptcha %}
			<tr>
				<th>{% trans("Verification") %} <span class="required-star">*</span></th>
				<td>
					<script type="text/javascript">
					var RecaptchaOptions = {
						theme : 'clean'
					};
					</script>
					<script type="text/javascript" src="//www.google.com/recaptcha/api/challenge?k={{ config.recaptcha_public }}">
					</script>
				</td>
			</tr>
			{% endif %}

			{% if config.captcha.enabled or (config.new_thread_capt and not id) %}
			<tr class='captcha'>
				<th>{% trans("Verification") %} <span class="required-star">*</span></th>
				<td>{% include 'captcha.html' %}</td>
			</tr>
			{% endif %}
			{% if config.allowed_tags and not id %}
				<tr>
					<th>{% trans("Tag") %}</th>
					<td>
						<select name="tag">
							{% for id, tag in config.allowed_tags %}
								<option value="{{ id|e }}">{{ tag|e }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			{% endif %}
			{% if not config.disable_images %}
			<tr id="upload">
				<th>
					{%- trans("File") %}{% if config.force_image_op and not id %} <span class="required-star">*</span>{% endif -%}
				</th>
				<td>
					<input type="file" name="file" id="upload_file">
					<script type="text/javascript">if (typeof init_file_selector !== 'undefined') init_file_selector({{ config.max_images }});</script>
					{% if config.allow_upload_by_url %}
						<div style="float:none;text-align:left" id="upload_url">
							<label for="file_url">{% trans("Or URL") %}</label>: 
							<input style="display:inline" type="text" id="file_url" name="file_url" size="35">
						</div>
					{% endif %}
				</td>
			</tr>
			{% endif %}
			{% set flag_tr %}
			{% if config.user_flag %}
				<tr>
					<th>
						{%- trans("Flag") %} {% if config.force_flag %}<span class="required-star">*</span>{% endif -%}
					</th>
					<td>
						<select name="user_flag" id="user_flag">
							{% if not config.force_flag %}<option value="">{% trans("None") %}</option>{% endif %}
							{% for flag, text in config.user_flags %}
								<option value="{{ flag }}">{{ text }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			{% endif %}
			{% endset %}
			{% if config.force_flag %}
				{{ flag_tr }}
			{% endif %}
			<tr>
				<td class="required-field-cell">
					<span class="required-wrap hint">
						<span class="required-star">*</span> <span class="unimportant">{% trans("= required field") %}</span>
					</span>
				</td>
			</tr>
		</tbody></table>

		<div class='wrap-post-options'>
			<input type="checkbox" class="show-post-table-options" id="show-post-table-options" data-nocaptcha="1">
			<label for="show-post-table-options" class='show-post-options link-label'>[&#9654; {% trans("Show post options &amp; limits") %}]</label>
			<label for="show-post-table-options" class='hide-post-options link-label'>[&#9660; {% trans("Hide post options &amp; limits") %}]</label>

			<table class="post-table-options"><tbody>

				{% if not config.force_flag %}
					{{ flag_tr }}
				{% endif %}

				{% if config.enable_embedding %}
				<tr id="upload_embed">
					<th>{% trans("Embed") %}</th>
					<td>
						<input type="text" name="embed" value="" size="30" maxlength="120" autocomplete="off" style="width:100%;"><br> <span class="unimportant hint">{% trans("(replaces files and can be used instead)") %}</span>
					</td>
				</tr>
				{% endif %}
				{% if config.oekaki %}
				<tr id="oekaki">
					<th>{% trans("Oekaki") %}</th>
					<td>
						<div class="oekaki-applet"></div>
						<a href="#" onclick="if (oekaki && !oekaki.initialized) { oekaki.init(); this.innerHTML = '{% trans("Close oekaki applet") %}' } else { oekaki.deinit(); this.innerHTML = '{% trans("Show oekaki applet") %}' }; return false;">{% trans("Show oekaki applet") %}</a> 
						<br/>
						<span class="unimportant hint">{% trans("(replaces files and can be used instead)") %}</span>
					</td>
				</tr>
				{% endif %}
				<tr id="options-row">
					<th>{% trans("Options") %}</th>
					<td>
						<div class="no-bump-option">
							<label title="{% trans("(you can also write sage in the email field)") %}"><input id="no-bump" name="no-bump" type="checkbox">
							{% trans("Do not bump") %}</label>
						</div>

						{% if config.spoiler_images %}<div class="spoiler-images-option">
							<label title="{% trans("(this replaces the thumbnails of your images with question marks)") %}"><input id="spoiler" name="spoiler" type="checkbox">
							{% trans("Spoiler images") %}</label>
						</div>{% endif %}

						{% if config.allow_no_country and config.country_flags and not config.force_flag %}<div class="no-country-option">
							<label title="{% trans("(this board displays your country when you post if this is unchecked)") %}"><input id="no_country" name="no_country" type="checkbox">
							{% trans("Hide country") %}</label>
						</div>{% endif %}

						{% if mod %}
						{% if not id and post.mod|hasPermission(config.mod.sticky, board.uri) %}<div class="sticky-option">
							<label><input title="{% trans("Sticky") %}" type="checkbox" name="sticky" id="sticky">
							{% trans("Sticky") %}</label>
						</div>{% endif %}
						{% if not id and post.mod|hasPermission(config.mod.lock, board.uri) %}<div class="lock-option">
							<label><input title="{% trans("Lock") %}" type="checkbox" name="lock" id="lock">
							{% trans("Lock") %}</label>
						</div>{% endif %}
						{% if post.mod|hasPermission(config.mod.rawhtml, board.uri) %}<div class="raw-html-option">
							<label><input title="{% trans("Raw HTML") %}" type="checkbox" name="raw" id="raw">
							{% trans("Raw HTML") %}</label>
						</div>{% endif %}
						{% endif %}
					
						{# Should always be at the end #}
					</td>
				</tr>
				{% if not config.field_disable_password or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri)) %}<tr>
					<th>{% trans("Password") %}</th>
					<td>
						<input type="text" name="password" value="" size="12" maxlength="18" autocomplete="off">
						<span class="unimportant hint"> {% trans("(For file and post deletion.)") %}</span>
					</td>
				</tr>{% endif %}
				<tr>
					<td colspan="2">
						<p class="unimportant board-settings">
						{% if not config.disable_images %}
						{% trans("Allowed file types") %}: 
						{% if config.allowed_ext_op and not id %}
							{{ config.allowed_ext_op|join(', ') }}
						{% else %}
							{{ config.allowed_ext|join(', ') }}{% if config.allowed_ext_files %}, {{ config.allowed_ext_files|join(', ') }}{% endif %}
						{% endif %}<br />
						{% trans("Max filesize is") %} {{ config.max_filesize|filesize }}.<br />
						{% trans("Max image dimensions are") %} {{ config.max_height }} x {{ config.max_width }}.<br />
						{% set max_images = config.max_images %} {# workaround for "The text to be translated with "trans" can only contain references to simple variables" #}
						{{ "You may upload %s per post."|trans|format(max_images) }}<br />
						{% endif %}
						</p>
					</td>
				</tr>
			</tbody></table>
		</div>
	</form>
</div>
</div>
<script type="text/javascript">{% raw %}
	rememberStuff();
{% endraw %}</script>

{% set ext_scripts = [] %}
{% if config.code_tags %}
	{% set ext_scripts = ext_scripts|merge(['js/code_tags/run_prettify.js']) %}
{% endif %}
{% if config.katex %}
	{% set ext_scripts = ext_scripts|merge([
		'js/katex/katex.min.js',
		'js/katex-enable.js'
	]) %}
{% endif %}
{% if config.oekaki %}
	{% set ext_scripts = ext_scripts|merge([
		'js/wPaint/wPaint.min.js',
		'js/wPaint/plugins/main/main.js',
		'js/wPaint/plugins/text/text.js', 
		'js/wPaint/plugins/shapes/shapes.js', 
		'js/wPaint/plugins/file/file.js', 
		'js/wpaint.js'
	]) %}
{% endif %}
{% if config.user_flag %}
	{% set ext_scripts = ext_scripts|merge(['js/flag-previews.js']) %}
{% endif %}

{% include "ext_scripts.html" %}
