<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<script type="text/javascript">
		var active_page = "thread";
		var board_name="{{ board.uri }}";
	</script>
	{% include 'header.html' %}
	{% set meta_subject %}{% if config.thread_subject_in_title and thread.subject %}{{ thread.subject|e }}{% else %}{{ thread.body_nomarkup|remove_markups|remove_modifiers[:50]|e }}{% endif %}{% endset %}
	<meta name="description" content="/{{ board.uri }}/ - {{ board.title|e }} - {{ meta_subject }}" />
	<meta name="twitter:card" value="summary">
	<meta property="og:title" content="{{ meta_subject }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ config.domain }}/{{ board.uri }}/{{ config.dir.res }}{{ thread.id }}.html" />
	{% if thread.files.0.thumb %}<meta property="og:image" content="{{ config.domain }}/{{ board.uri }}/{{ config.dir.thumb }}{{ thread.files.0.thumb }}" />{% endif %}
	<meta property="og:description" content="{{ thread.body_nomarkup|e }}" />
	<title>{{ board.url }} - {{ meta_subject }}</title>
</head>
<body class="8chan {% if not index %}replypage {% endif %}{% if mod %}is-moderator{% else %}is-not-moderator{% endif %} active-thread" data-stylesheet="{% if config.default_stylesheet.1 != '' and not mod %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
	{{ boardlist.top }}
	<a name="top"></a>
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr />{% endif %}
	{% include 'banners.html' %}
	<header>
		<h1><a class='no_underline' href="{{ return }}">{{ board.url }} - {{ board.title|e }}</a></h1>
		<div class="subtitle">
			{% if board.subtitle %}
				{% if config.allow_subtitle_html %}
					{{ board.subtitle }}
				{% else %}
					{{ board.subtitle|e }}
				{% endif %}
			{% endif %}
			{% if mod %}<p><a href="?/">{% trans("Return to dashboard") %}</a></p>{% endif %}
			<p><a href="{{ config.root }}{{ board.dir }}{{ config.catalog_link }}">{% trans("Catalog") %}</a></p>
		</div>
	</header>

	{% include 'attention_bar.html' %}

	{% if config.announcement %}
		{{ config.announcement }}
	{% endif %}

	<div class="banner">{% trans("Posting mode: Reply") %} <a class="unimportant" href="{{ return }}">[{% trans("Return") %}]</a> <a class="unimportant" href="javascript:window.scrollTo(0,document.body.scrollHeight);
">[{% trans("Go to bottom ") %}]</a></div>

	{% include 'ad_top.html' %}

	{% include 'post_form.html' %}

	{% if config.global_message %}<hr /><div class="blotter">{{ config.global_message }}</div>{% endif %}
	<hr />
	
	<form name="postcontrols" action="{{ config.post_url }}" method="post">
		<input type="hidden" name="board" value="{{ board.uri }}" />
		{% if mod %}<input type="hidden" name="mod" value="1" />{% endif %}
		
		{{ body }}
		
		<div id="thread-interactions">
			<span id="thread-links">
				<a id="thread-return" href="{{ return }}">[{% trans("Return") %}]</a>
				<a id="thread-top" href="#top">[{% trans("Go to top") %}]</a>
				<a id="thread-catalog" href="{{ config.root }}{{ board.dir }}{{ config.catalog_link }}">[{% trans("Catalog") %}]</a>
			</span>
			
			<span id="thread-quick-reply">
				<a id="link-quick-reply" href="#">[{% trans("Post a Reply") %}]</a>
			</span>
			
			{% include 'report_delete.html' %}
		</div>
		
		<div class="clearfix"></div>
	</form>
	
	{{ boardlist.bottom }}

	{% if board.uri not in config.banned_ad_boards %}
		{% include 'ad_bottom.html' %}
	{% endif %}

	{% if board.uri %}
		<div id="8ch-bottom"></div>
	{% endif %}

	<footer>
                <p class="unimportant" style="margin-top:20px;text-align:center;">- Tinyboard +
                <a href="https://engine.vichan.net/">vichan</a> {{ config.version }} -
                <br>Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group
                <br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2016 vichan-devel
		{% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
	</footer>

	<script type="text/javascript">{% raw %}
		onready(init); ready();
	{% endraw %}</script>
</body>
</html>
