{% if config.display_flags and post.modifiers.flag %}

	{% set flag_title = post.modifiers['flag alt'] ? post.modifiers['flag alt'] | e('html_attr') : "" %}

	{% if config.country_flags_condensed %}
		<i class="flag flag-{{ post.modifiers.flag }}" title="{{ flag_title }}"
	{% else %}
		<img class="flag" src="{% if config.root != '/' %}{{ config.root }}{% endif %}{{ config.uri_flags|sprintf(post.modifiers.flag) }}" title="{{ flag_title }}" alt="{{ flag_title }}"
	{% endif %}

	{% if post.modifiers['flag style'] %} style="{{ post.modifiers['flag style'] }}"
	{% elseif config.flag_style %} style="{{ config.flag_style }}"
	{% endif %}

	{% if config.country_flags_condensed %}></i>{% else %}/>{% endif %}
{% endif %}
