<div style="text-align:center">
<form method="POST">
	<input name="token" value="{{ token }}" type="hidden">
	<table>
		<tr>
		<th>{% trans("Markup method") %}
			{% set allowed_html = config.allowed_html %}
			<p class="unimportant">{{ '"markdown" is provided by %s. Note: images disabled.'|trans|format('<a href="http://parsedown.org/">parsedown</a>') }}</p>
			<p class="unimportant">{% trans('"html" allows the following tags:') %}<br/>{{ allowed_html }}</p>
			<p class="unimportant">{% trans('"infinity" is the same as what is used in posts.') %}</p>
			<p class="unimportant">{% trans("This page will not convert between formats,<br/>choose it once or do the conversion yourself!") %}</p>
		</th>
		<td>
			<select name="method">
				{% for markup in ['markdown', 'html', 'infinity'] %}
				<option value="{{ markup }}" {% if page.type == markup %}selected{% endif %}>{{ markup }}</option>
				{% endfor %}
			</select>
		</td></tr>
		<tr><th>{% trans("Page content") %}
		<br/>
		<span class="unimportant">{% trans("Page will appear at:") %} 
		{% if board %} <a href="/{{ board.uri }}/{{ page.name }}.html">{{ config.domain }}/{{ board.uri }}/{{ page.name }}.html</a>
		{% else %} <a href="/{{ page.name }}.html">{{ config.site }}/{{ page.name }}.html</a>
		{% endif %}</span></th><td><textarea name="content" style="height:500px;width:500px">{{content}}</textarea></td><tr>
	</table>
	<input type="submit" value="Save page">
</form>
</div>
