<script type="text/javascript" src="js/jquery.min.js"></script>
<div style="text-align:center">
<p class="unimportant">
{% if board %}
{% set page_max = config.pages_max %}
{{ "This page allows you to create static pages for your board. The limit is %s pages per board.<br>You will still have to link to your pages somewhere in your board, for example in a sticky or in the board's announcement.<br>To make links in the board's announcement, use &lt;a&gt; HTML tags."|trans|format(page_max) }}
{% else %}
{% trans("This page allows you to create static pages for your imageboard.") %}
{% endif %}
<h2>{% trans("Existing pages") %}</h2>
{% if pages %}
<form>
<table style="margin:auto">
<tr><th>{% trans("URL") %}</th><th>{% trans("Title") %}</th><th>{% trans("Edit") %}</th><th>{% trans("Delete") %}</tr>
{% for page in pages %}
<tr><td>{{ page.name }}</td><td>{{ page.title }}</td><td><a href="?/edit_page/{{ page.id }}">{% trans("Edit") %}</a></td><td><a href="?/edit_pages/delete/{{ page.name }}{% if board %}/{{ board }}{% endif %}/{{ page.delete_token }}">{% trans("Delete") %}</a></td>
{% endfor %}
{% else %}
<em>No pages yet!</em>
{% endif %}
</table>
</form>
<hr/>
<h2>{% trans("Create a new page") %}</h2>
<form method="POST">
	<input type="hidden" name="token" value="{{ token }}">
<table>
<tr><th>{% trans("URL") %}</th><th>{% trans("Title") %}</th></tr>
<tr><td><input type="text" name="page"></td><td><input type="text" name="title"></td>
</table>	
<input type="submit" value="{% trans("Create") %}">
</form>

</div>
