<p style="text-align: center" class="unimportant">{% trans("Tip: Some changes made on this page won't take effect until a new post is made on your board.") %}</p>
<form action="{{ action }}" method="post">
	<input type="hidden" name="token" value="{{ token }}">
	<table>
		<tr>
			<th>{% trans("URI") %}</th>
			<td>
				{{ config.board_abbreviation|sprintf(board.uri) }} <span class="unimportant">({% trans("this cannot be changed") %})</span>
			</td>
		</tr>
		<tr>
			<th>{% trans("Title") %}</th>
			<td>
				<input size="25" type="text" name="title" value="{{ board.title|e }}" autocomplete="off">
			</td>
		</tr>
		<tr>
			<th>{% trans('Subtitle') %}</th>
			<td>
				<input size="25" type="text" name="subtitle" value="{{ board.subtitle|e }}" autocomplete="off">
			</td>
		</tr>
	</table>

	<table>
		<tr><th>{% trans("Board type") %}</th><td><select name="board_type" id="board_type">
			<option value="imgboard" {% if not config.disable_images and not config.file_board %}selected{% endif %}>{% trans("Image board") %}</option>
			<option value="txtboard" {% if config.disable_images %}selected{% endif %}>{% trans("Text board") %}</option>
			<option value="fileboard" {% if config.file_board %}selected{% endif %}>{% trans("File board") %}</option>
		</select></td></tr>
		<tr><th>{% trans("Country flags") %}</th><td><select name="country_flags_select" id="country_flags_select">
			<option value="disabled" {% if not config.disable_images and not config.file_board %}selected{% endif %}>{% trans("Disabled") %}</option>
			<option value="enabled" {% if config.country_flags %}selected{% endif %}>{% trans("GeoIP") %}</option>
			<option value="user_flag" {% if config.user_flags %}selected{% endif %}>{% trans("User flags") %}</option>
		</select><label id="force_flag">&nbsp;<input type="checkbox" name="force_flag" {% if config.force_flag %}checked{% endif %}>{% trans("required") %}</label></td></tr>
		<tr><th>{% trans("Custom board assets") %}<br><span class="unimportant">{% trans %}Enabling this uses your custom spoiler/deleted/no file images.<br>Make sure to actually upload some first on the assets page or they will 404!{% endtrans %}</span></th><td><input type="checkbox" name="custom_assets" {% if config.custom_assets %}checked{% endif %}></td></tr>
		<tr><th>{% trans('Disable "name" field') %}</th><td><input type="checkbox" name="field_disable_name" {% if config.field_disable_name %}checked{% endif %}></td></tr>
		<tr><th>{% trans('Disable "email" field') %}</th><td><input type="checkbox" name="field_disable_email" {% if config.field_disable_email %}checked{% endif %}></td></tr>
		<tr><th>{% trans('Disable "subject" field') %}</th><td><input type="checkbox" name="field_disable_subject" {% if config.field_disable_subject %}checked{% endif %}></td></tr>
		<tr><th>{% trans('Disable "subject" field on thread page') %}</th><td><input type="checkbox" name="field_disable_reply_subject" {% if config.field_disable_reply_subject %}checked{% endif %}></td></tr>
		<tr><th>{% trans("YouTube/Voocaroo embedding") %}</th><td><input type="checkbox" name="enable_embedding" {% if config.enable_embedding %}checked{% endif %}></td></tr>
		<tr class='imgboard'><th>{% trans("Require image for OP") %}</th><td><input type="checkbox" name="force_image_op" {% if config.force_image_op %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Require subject for OP") %}</th><td><input type="checkbox" name="force_subject_op" {% if config.force_subject_op %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Poster ID's") %}</th><td><input type="checkbox" name="poster_ids" {% if config.poster_ids %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Display SAGE! after saged posts") %}</th><td><input type="checkbox" name="show_sages" {% if config.show_sages %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Automatically convert ... to …") %}</th><td><input type="checkbox" name="auto_unicode" {% if config.auto_unicode %}checked{% endif %}></td></tr>
		<tr><th>{% trans('Disallow combining characters ("Zalgo", Vietnamese text)') %}</th><td><input type="checkbox" name="strip_combining_chars" {% if config.strip_combining_chars %}checked{% endif %}></td></tr>
		<tr><th>{% trans("No index") %}<br><span class="unimportant">{% trans("Hide from boards index<br/>and do not index in search engines") %}</span></th><td><input type="checkbox" name="meta_noindex" {% if not board.indexed %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Allow [code][/code] tags") %}</th><td><input type="checkbox" name="code_tags" {% if config.code_tags %}checked{% endif %}></td></tr>
		<tr class='imgboard fileboard'><th>{% trans("Allow Oekaki") %}</th><td><input type="checkbox" name="oekaki" {% if config.oekaki %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Format math between [tex][/tex]") %}</th><td><input type="checkbox" name="katex" {% if config.katex %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Enable dice rolling") %}</th><td><input type="checkbox" name="allow_roll" {% if config.allow_roll %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Don't allow users to repost images (whole board)") %}</th><td><input type="checkbox" name="image_reject_repost" {% if config.image_reject_repost %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Don't allow users to repost images (same thread)") %}</th><td><input type="checkbox" name="image_reject_repost_in_thread" {% if config.image_reject_repost_in_thread %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Allow a poster to delete his own posts") %}</th><td><input type="checkbox" name="allow_delete" {% if config.allow_delete %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Allow posters to see when a thread is bumplocked") %}</th><td><input type="checkbox" name="view_bumplock" {% if config.mod.view_bumplock == -1 %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Allow posters to post via the Tor onion router") %}</th><td><input type="checkbox" name="tor_posting" {% if config.tor_posting %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Allow posters to post upload files via Tor") %}</th><td><input type="checkbox" name="tor_image_posting" {% if config.tor_image_posting %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Allow post via the .onion service") %}</th><td><input type="checkbox" name="allow_posting" {% if config.tor.allow_posting %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Allow post upload files via .onion service") %}</th><td><input type="checkbox" name="allow_image_posting" {% if config.tor.allow_image_posting %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Enable CAPTCHA") %}<br/><span class="unimportant">{% trans %}Users must solve a CAPTCHA in order to post.<br> This is not ReCAPTCHA, it is custom to brchan.{% endtrans %}</span></th><td><input type="checkbox" name="captcha" {% if config.captcha.enabled %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Enable CAPTCHA for thread creation only") %}<br/><span class="unimportant">{% trans %}Users must solve a CAPTCHA in order to create new threads,<br>but do not have to solve a CAPTCHA in order to post replies.{% endtrans %}</span></th><td><input type="checkbox" name="new_thread_capt" {% if config.new_thread_capt %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Public bans") %}<br><span class="unimportant">{% trans("Displays your bans for the public") %}</span></th><td><input type="checkbox" name="public_bans" {% if board.public_bans %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Public action log") %}<br><span class="unimportant">{% trans("Displays all actions to the public") %}</span></th><td><select name="public_logs">
			<option value="0" {% if board.public_logs == 0 %}selected{% endif %}>{% trans("None") %}</option>
			<option value="1" {% if board.public_logs == 1 %}selected{% endif %}>{% trans("Full log of all actions") %}</option>
			<option value="2" {% if board.public_logs == 2 %}selected{% endif %}>{% trans("Full log of all actions, no usernames") %}</option>
		</select></td></tr>
		<tr><th>{% trans("Max number of newlines per post") %}</th><td><select name="max_newlines"><option value="0" {% if config.max_newlines == 0 %}selected{% endif %}>unlimited</option>{% for i in range(20, 300) %}<option value="{{ i }}" {% if config.max_newlines == i %}selected{% endif %}>{{ i }}</option>{% endfor %}</select></td></tr>
		<tr><th>{% trans("Page count") %}</th><td><select name="max_pages">{% for i in range(1, 25) %}<option value="{{ i }}" {% if config.max_pages == i %}selected{% endif %}>{{ i }}</option>{% endfor %}</select></td></tr>
		<tr><th>{% trans("Bump limit") %}</th><td><select name="reply_limit">{% for i in range(250, 750, 25) %}<option value="{{ i }}" {% if config.reply_limit == i %}selected{% endif %}>{{ i }}</option>{% endfor %}</select></td></tr>
		<tr><th>{% trans("Minimum OP text length") %}<br/><span class="unimportant">{% trans("integer between 0 and 1024") %}</span></th><td><input type="text" name="min_body" size="4" value={{ config.min_body }}></td></tr>
		<tr><th>{% trans("Language") %}</th><td>
		<select name="locale">
			{% for lang_id, lang_dsc in languages %}
				<option value="{{ lang_id }}" {% if lang_id == current_locale %}selected{% endif %}>{{ lang_dsc }}</option>
			{% endfor %}
		</select>
		</td></tr>
		<tr class='imgboard fileboard'><th>{% trans("Allowed file types") %}</th><td>
			<label class='imgboard'>{% for type in config.imgboard_allowed_types %}
				<input type='checkbox' name='allowed_type_imgboard[]' value='{{ type }}' {% if type in config.allowed_ext_files %}checked{% endif %}>{{ type }}
			{% endfor %}</label>
			<label class='fileboard'>{% for type in config.fileboard_allowed_types %}
				<input type='checkbox' name='allowed_type_fileboard[]' value='{{ type }}' {% if type in config.allowed_ext_files %}checked{% endif %}>{{ type }}
			{% endfor %}</label>
		</td></tr>
		<tr class='fileboard'><th>{% trans("Disable OP image upload") %}</th><td><input type="checkbox" name="allowed_ext_op" {% if config.allowed_ext_op %}checked{% endif %}>
			<label> (<input type="checkbox" name="allowed_ext_op_video" {% if config.allowed_ext_op and 'webm' in config.allowed_ext_op %}checked{% endif %}> also allow video upload)</label></td></tr>
		<tr class='fileboard'><th>{% trans("Keep original filename") %}</th><td><input type="checkbox" name="anal_filenames" {% if config.filename_func == 'filename_func' %}checked{% endif %}></td></tr>
		</tr>
		<tr><th>{% trans("Max images per post") %}</th><td><select name="max_images">{% for i in 1..5 %}<option value="{{ i }}" {% if config.max_images == i %} selected {% endif %}>{{ i }}</option>{% endfor %}</select></td></tr>
	</table>

	<table>
		<tr><th colspan="2"><strong>{% trans("Spam settings") %}</strong></th></tr>
		<tr><th>{% trans("Early 404") %}<br><span class="unimportant">{% trans %}With this enabled, threads with less than 10 replies will 404 at page 5 instead of at page 15.<br>In effect, this makes it so that raiders have to put 10 replies in all their threads to slide an entire board.{% endtrans %}</span></th><td><input type="checkbox" name="early_404" {% if config.early_404 %}checked{% endif %}></td></tr>
		<tr><th>{% trans("Max threads per hour board-wide") %}<br><span class="unimportant">{% trans %}Only allow X threads to be made per hour, regardless of poster<br>If a thread is deleted, it's not counted{% endtrans %}</span></th><td><select name="hour_max_threads"><option value="none">none</option>{% for i in 1..100 %}<option value="{{ i }}" {% if config.hour_max_threads == i %} selected {% endif %}>{{ i }}</option>{% endfor %}</select></td></tr>
	</table>


	<p style="text-align:center"><a href="?/banners/{{board.uri}}">{% trans("Edit board banners") %}</a></p>
	<p style="text-align:center"><a href="?/assets/{{board.uri}}">{% trans("Edit board assets") %}</a></p>
	<p style="text-align:center"><a href="?/flags/{{board.uri}}">{% trans("Edit board flags") %}</a></p>
	<p style="text-align:center"><a href="?/volunteers/{{board.uri}}">{% trans("Edit board volunteers") %}</a></p>
	<p style="text-align:center"><a href="?/tags/{{board.uri}}">{% trans("Edit board tags") %}</a></p>
	<p style="text-align:center"><a href="?/edit_pages/{{board.uri}}">{% trans("Edit board pages") %}</a></p>

	<table>
		<tr><th>{% trans("Default poster name") %}</th><td><input type="text" name="anonymous" value="{{config.anonymous|e}}"></td></tr>
		<tr><th>{% trans("Board announcement") %}</th><td><input type="text" name="blotter" value="{{config.blotter|e}}" size="75"></td></tr>
		<tr><th>{% trans("Stylesheet") %}<br/><span class="unimportant">{% trans("note: does not validate CSS") %}</span><br/><span class="unimportant">{% trans("Allowed URLs:") %}<br/>{{ allowed_urls|join('<br>') }}</span></th><td><textarea name="css" style="height:100px;width:500px">{{css}}</textarea></td><tr>
	</table>

	<table id="wf">
		<th colspan="2">{% trans("Wordfilters") %}</th>
		<tr><th>{% trans("Replace") %}</th><th>{% trans("With") %}</th></tr>
		{% if config.wordfilters %}
			{% for wf in config.wordfilters %}
				{% if wf.0 != '\\rule' %}
					<tr><td><input name="replace[]" value="{{wf.0|e}}"></td><td><input name="with[]" value="{{wf.1|e}}"></td></tr>
				{% endif %}
			{% endfor %}
		{% else %}
			<tr><td><input name="replace[]"></td><td><input name="with[]"></td></tr>
		{% endif %}
	</table>

	<ul style="padding:0;text-align:center;list-style:none">
		<li><input type="button" value="{% trans("Add another wordfilter") %}" id="wf_add"></li>
	</ul>
	
	<table id="tags" class='fileboard'>
		<th colspan="2">{% trans("Tags") %}</th>
                <tr><th>{% trans("ID") %}</th><th>{% trans("Description") %}</th></tr>
		{% if config.allowed_tags %}
			{% for tag_id, tag_desc in config.allowed_tags %}
				<tr><td><input name="tag_id[]" value="{{ tag_id|e }}"></td><td><input name="tag_desc[]" value="{{ tag_desc|e }}"></td></tr>
			{% endfor %}
		{% else %}
			<tr><td><input name="tag_id[]"></td><td><input name="tag_desc[]"></td></tr>
		{% endif %}
	</table>

	<ul style="padding:0;text-align:center;list-style:none">
		<li class='fileboard'><input type="button" value="{% trans("Add another tag") %}" id="tag_add"></li>
	</ul>
	<ul style="padding:0;text-align:center;list-style:none">
		<li><input type="submit" value="{% trans("Save changes") %}"></li>
	</ul>
</form>

<script>
$('#wf_add').on('click', function() {
	$('#wf').append('<tr><td><input name="replace[]"></td><td><input name="with[]"></td></tr>');
});

$('#tag_add').on('click', function() {
	$('#tags').append('<tr><td><input name="tag_id[]"></td><td><input name="tag_desc[]"></td></tr>');
});

var board_type = function() {
	$('.txtboard, .fileboard, .imgboard').hide();
	$('.'+$('#board_type').val()).show();
};
board_type();
$('#board_type').on('change', board_type);

var country_flags_select = function() {
	$('#force_flag').hide();
	if($('#country_flags_select').val() !== 'disabled')
		$('#force_flag').show();
};
country_flags_select();
$('#country_flags_select').on('change', country_flags_select);

</script>
