.flag {
  background-image: url('flags-128c.png');
  background-repeat: no-repeat;
  display: inline-block;
  box-sizing: border-box;
  height: 11px;
  width: 16px;
  border: 0;
}
.flag-a1 {background-position: 0 0}
.flag-a2 {background-position: 0 -11px}
.flag-ac {background-position: 0 -22px}
.flag-ad {background-position: 0 -33px}
.flag-ae {background-position: 0 -44px}
.flag-af {background-position: 0 -55px}
.flag-ag {background-position: 0 -66px}
.flag-ai {background-position: 0 -77px}
.flag-al {background-position: 0 -88px}
.flag-am {background-position: 0 -99px}
.flag-an {background-position: 0 -110px}
.flag-ao {background-position: 0 -121px}
.flag-ap {background-position: 0 -132px}
.flag-aq {background-position: 0 -143px}
.flag-ar {background-position: 0 -154px}
.flag-as {background-position: 0 -165px}
.flag-at {background-position: 0 -176px}
.flag-au {background-position: 0 -187px}
.flag-aw {background-position: 0 -198px}
.flag-ax {background-position: 0 -209px}
.flag-az {background-position: 0 -220px}
.flag-ba {background-position: 0 -231px}
.flag-bb {background-position: 0 -242px}
.flag-bd {background-position: 0 -253px}
.flag-be {background-position: 0 -264px}
.flag-bf {background-position: 0 -275px}
.flag-bg {background-position: 0 -286px}
.flag-bh {background-position: 0 -297px}
.flag-bi {background-position: 0 -308px}
.flag-bj {background-position: 0 -319px}
.flag-bl {background-position: 0 -330px}
.flag-bm {background-position: 0 -341px}
.flag-bn {background-position: 0 -352px}
.flag-bo {background-position: 0 -363px}
.flag-bq {background-position: 0 -374px}
.flag-br {background-position: 0 -385px}
.flag-bs {background-position: 0 -396px}
.flag-bt {background-position: 0 -407px}
.flag-bu {background-position: 0 -418px}
.flag-bv {background-position: 0 -429px}
.flag-bw {background-position: 0 -440px}
.flag-by {background-position: 0 -451px}
.flag-bz {background-position: 0 -462px}
.flag-ca {background-position: 0 -473px}
.flag-cat {background-position: 0 -484px}
.flag-cc {background-position: 0 -495px}
.flag-cd {background-position: 0 -506px}
.flag-cf {background-position: 0 -517px}
.flag-cg {background-position: 0 -528px}
.flag-ch {background-position: 0 -2959px}
.flag-ci {background-position: 0 -539px}
.flag-ck {background-position: 0 -550px}
.flag-cl {background-position: 0 -561px}
.flag-cm {background-position: 0 -572px}
.flag-cn {background-position: 0 -583px}
.flag-co {background-position: 0 -594px}
.flag-cp {background-position: 0 -605px}
.flag-cr {background-position: 0 -616px}
.flag-cs {background-position: 0 -627px}
.flag-cu {background-position: 0 -638px}
.flag-cv {background-position: 0 -649px}
.flag-cw {background-position: 0 -660px}
.flag-cx {background-position: 0 -671px}
.flag-cy {background-position: 0 -682px}
.flag-cz {background-position: 0 -693px}
.flag-de {background-position: 0 -704px}
.flag-dg {background-position: 0 -715px}
.flag-dj {background-position: 0 -726px}
.flag-dk {background-position: 0 -737px}
.flag-dm {background-position: 0 -748px}
.flag-do {background-position: 0 -759px}
.flag-dz {background-position: 0 -770px}
.flag-ea {background-position: 0 -781px}
.flag-ec {background-position: 0 -792px}
.flag-ee {background-position: 0 -803px}
.flag-eg {background-position: 0 -814px}
.flag-eh {background-position: 0 -825px}
.flag-er {background-position: 0 -836px}
.flag-es {background-position: 0 -847px}
.flag-et {background-position: 0 -858px}
.flag-eu {background-position: 0 -869px}
.flag-fi {background-position: 0 -880px}
.flag-fj {background-position: 0 -891px}
.flag-fk {background-position: 0 -902px}
.flag-fm {background-position: 0 -913px}
.flag-fo {background-position: 0 -924px}
.flag-fr {background-position: 0 -935px}
.flag-fx {background-position: 0 -946px}
.flag-ga {background-position: 0 -957px}
.flag-gb {background-position: 0 -968px}
.flag-gd {background-position: 0 -979px}
.flag-ge {background-position: 0 -990px}
.flag-gf {background-position: 0 -1001px}
.flag-gg {background-position: 0 -1012px}
.flag-gh {background-position: 0 -1023px}
.flag-gi {background-position: 0 -1034px}
.flag-gl {background-position: 0 -1045px}
.flag-gm {background-position: 0 -1056px}
.flag-gn {background-position: 0 -1067px}
.flag-gp {background-position: 0 -1078px}
.flag-gq {background-position: 0 -1089px}
.flag-gr {background-position: 0 -1100px}
.flag-gs {background-position: 0 -1111px}
.flag-gt {background-position: 0 -1122px}
.flag-gu {background-position: 0 -1133px}
.flag-gw {background-position: 0 -1144px}
.flag-gy {background-position: 0 -1155px}
.flag-hk {background-position: 0 -1166px}
.flag-hm {background-position: 0 -1177px}
.flag-hn {background-position: 0 -1188px}
.flag-hr {background-position: 0 -1199px}
.flag-ht {background-position: 0 -1210px}
.flag-hu {background-position: 0 -1221px}
.flag-ic {background-position: 0 -1232px}
.flag-id {background-position: 0 -1243px}
.flag-ie {background-position: 0 -1254px}
.flag-il {background-position: 0 -1265px}
.flag-im {background-position: 0 -1276px}
.flag-in {background-position: 0 -1287px}
.flag-io {background-position: 0 -1298px}
.flag-iq {background-position: 0 -1309px}
.flag-ir {background-position: 0 -1320px}
.flag-is {background-position: 0 -1331px}
.flag-it {background-position: 0 -1342px}
.flag-je {background-position: 0 -1353px}
.flag-jm {background-position: 0 -1364px}
.flag-jo {background-position: 0 -1375px}
.flag-jp {background-position: 0 -1386px}
.flag-ke {background-position: 0 -1397px}
.flag-kg {background-position: 0 -1408px}
.flag-kh {background-position: 0 -1419px}
.flag-ki {background-position: 0 -1430px}
.flag-km {background-position: 0 -1441px}
.flag-kn {background-position: 0 -1452px}
.flag-kp {background-position: 0 -1463px}
.flag-kr {background-position: 0 -1474px}
.flag-kw {background-position: 0 -1485px}
.flag-ky {background-position: 0 -1496px}
.flag-kz {background-position: 0 -1507px}
.flag-la {background-position: 0 -1518px}
.flag-lb {background-position: 0 -1529px}
.flag-lc {background-position: 0 -1540px}
.flag-li {background-position: 0 -1551px}
.flag-lk {background-position: 0 -1562px}
.flag-lr {background-position: 0 -1573px}
.flag-ls {background-position: 0 -1584px}
.flag-lt {background-position: 0 -1595px}
.flag-lu {background-position: 0 -1606px}
.flag-lv {background-position: 0 -1617px}
.flag-ly {background-position: 0 -1628px}
.flag-ma {background-position: 0 -1639px}
.flag-mc {background-position: 0 -1650px}
.flag-md {background-position: 0 -1661px}
.flag-me {background-position: 0 -3004px}
.flag-mf {background-position: 0 -1672px}
.flag-mg {background-position: 0 -1683px}
.flag-mh {background-position: 0 -1694px}
.flag-mk {background-position: 0 -1705px}
.flag-ml {background-position: 0 -1716px}
.flag-mm {background-position: 0 -1727px}
.flag-mn {background-position: 0 -1738px}
.flag-mo {background-position: 0 -1749px}
.flag-mp {background-position: 0 -1760px}
.flag-mq {background-position: 0 -1771px}
.flag-mr {background-position: 0 -1782px}
.flag-ms {background-position: 0 -1793px}
.flag-mt {background-position: 0 -1804px}
.flag-mu {background-position: 0 -1815px}
.flag-mv {background-position: 0 -1826px}
.flag-mw {background-position: 0 -1837px}
.flag-mx {background-position: 0 -1848px}
.flag-my {background-position: 0 -1859px}
.flag-mz {background-position: 0 -1870px}
.flag-na {background-position: 0 -1881px}
.flag-nc {background-position: 0 -1892px}
.flag-ne {background-position: 0 -1903px}
.flag-nf {background-position: 0 -1914px}
.flag-ng {background-position: 0 -1925px}
.flag-ni {background-position: 0 -1936px}
.flag-nl {background-position: 0 -1947px}
.flag-no {background-position: 0 -1958px}
.flag-np {background-position: 0 -2981px}
.flag-nr {background-position: 0 -1969px}
.flag-nt {background-position: 0 -1980px}
.flag-nu {background-position: 0 -1991px}
.flag-nz {background-position: 0 -2002px}
.flag-o1 {background-position: 0 -2013px}
.flag-om {background-position: 0 -2024px}
.flag-pa {background-position: 0 -2035px}
.flag-pe {background-position: 0 -2046px}
.flag-pf {background-position: 0 -2057px}
.flag-pg {background-position: 0 -2068px}
.flag-ph {background-position: 0 -2079px}
.flag-pk {background-position: 0 -2090px}
.flag-pl {background-position: 0 -2101px}
.flag-pm {background-position: 0 -2112px}
.flag-pn {background-position: 0 -2123px}
.flag-pr {background-position: 0 -2134px}
.flag-ps {background-position: 0 -2145px}
.flag-pt {background-position: 0 -2156px}
.flag-pw {background-position: 0 -2167px}
.flag-py {background-position: 0 -2178px}
.flag-qa {background-position: 0 -2189px}
.flag-re {background-position: 0 -2200px}
.flag-ro {background-position: 0 -2211px}
.flag-rs {background-position: 0 -2222px}
.flag-ru {background-position: 0 -2233px}
.flag-rw {background-position: 0 -2244px}
.flag-sa {background-position: 0 -2255px}
.flag-sb {background-position: 0 -2266px}
.flag-sc {background-position: 0 -2277px}
.flag-sd {background-position: 0 -2288px}
.flag-se {background-position: 0 -2299px}
.flag-sf {background-position: 0 -2310px}
.flag-sg {background-position: 0 -2321px}
.flag-sh {background-position: 0 -2332px}
.flag-si {background-position: 0 -2343px}
.flag-sj {background-position: 0 -2354px}
.flag-sk {background-position: 0 -2365px}
.flag-sl {background-position: 0 -2376px}
.flag-sm {background-position: 0 -2387px}
.flag-sn {background-position: 0 -2398px}
.flag-so {background-position: 0 -2409px}
.flag-sr {background-position: 0 -2420px}
.flag-ss {background-position: 0 -2431px}
.flag-st {background-position: 0 -2442px}
.flag-su {background-position: 0 -2453px}
.flag-sv {background-position: 0 -2464px}
.flag-sx {background-position: 0 -2475px}
.flag-sy {background-position: 0 -2486px}
.flag-sz {background-position: 0 -2497px}
.flag-ta {background-position: 0 -2508px}
.flag-tc {background-position: 0 -2519px}
.flag-td {background-position: 0 -2530px}
.flag-tf {background-position: 0 -2541px}
.flag-tg {background-position: 0 -2552px}
.flag-th {background-position: 0 -2563px}
.flag-ti {background-position: 0 -2992px}
.flag-tj {background-position: 0 -2574px}
.flag-tk {background-position: 0 -2585px}
.flag-tl {background-position: 0 -2596px}
.flag-tm {background-position: 0 -2607px}
.flag-tn {background-position: 0 -2618px}
.flag-to {background-position: 0 -2629px}
.flag-tp {background-position: 0 -2640px}
.flag-tr {background-position: 0 -2651px}
.flag-tt {background-position: 0 -2662px}
.flag-tv {background-position: 0 -2673px}
.flag-tw {background-position: 0 -2684px}
.flag-tz {background-position: 0 -2695px}
.flag-ua {background-position: 0 -2706px}
.flag-ug {background-position: 0 -2717px}
.flag-uk {background-position: 0 -2728px}
.flag-um {background-position: 0 -2739px}
.flag-us {background-position: 0 -2750px}
.flag-uy {background-position: 0 -2761px}
.flag-uz {background-position: 0 -2772px}
.flag-va {background-position: 0 -2970px}
.flag-vc {background-position: 0 -2783px}
.flag-ve {background-position: 0 -2794px}
.flag-vg {background-position: 0 -2805px}
.flag-vi {background-position: 0 -2816px}
.flag-vn {background-position: 0 -2827px}
.flag-vu {background-position: 0 -2838px}
.flag-wf {background-position: 0 -2849px}
.flag-ws {background-position: 0 -2860px}
.flag-xx {background-position: 0 -2871px}
.flag-ye {background-position: 0 -2882px}
.flag-yt {background-position: 0 -2893px}
.flag-yu {background-position: 0 -2904px}
.flag-za {background-position: 0 -2915px}
.flag-zm {background-position: 0 -2926px}
.flag-zr {background-position: 0 -2937px}
.flag-zw {background-position: 0 -2948px}
